<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="crd.greece.plutus.user.biz.dao.UserDao">

    <insert id="insert" parameterType="crd.greece.plutus.user.domain.UserDomain">
        INSERT INTO `tb_user`(
          `name`,
          `email`,
          `password`,
          `phone`,
          `enable`
        )
        VALUES (
          #{name},
          #{email},
          #{password},
          #{phone},
          #{enable}
        )
    </insert>

    <select id="selectByEmail" parameterType="java.lang.String" resultType="crd.greece.plutus.user.domain.UserDomain">
        SELECT * FROM `tb_user` WHERE `email` = #{email};
    </select>

    <update id="update" parameterType="crd.greece.plutus.user.domain.UserDomain">
        UPDATE `tb_user`
        <set>
            <if test="name != null and name != ''">
                `name` = #{name},
            </if>
            <if test="email != null and email != ''">
                `email` = #{email},
            </if>
            <if test="phone != null and phone != ''">
                `phone` = #{phone},
            </if>
            <if test="enable != null">
                `enable` = #{enable},
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.String">
        DELETE FROM `tb_user` WHERE `enable` = 0 AND `email` = #{email}
    </delete>
</mapper>