<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head>
	<title>login</title>
	<link rel="shortcut icon" href="favicon.ico"/>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<script src="static/js/jquery.min.js" type="text/javascript"></script>
	<script src="static/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="static/js/layer.min.js" type="text/javascript"></script>
	<script src="static/js/jquery.serializejson.js" type="text/javascript"></script>

	<script type="application/x-javascript">
		addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
	</script>
	<!-- //Meta-Tags -->
	<!-- Style -->
	<link rel="stylesheet" href="static/css/style.css" type="text/css" media="all"/>
</head>
<!-- //Head -->
<!-- Body -->
<body>
	<h1>普路托斯</h1>
	<div class="container w3layouts agileits">
		<div class="login w3layouts agileits">
			<h2>登 录</h2>
			<form action="#" method="post" id="loginForm" onsubmit="return checkLoginForm();">
				<input type="text" Name="email" placeholder="邮箱" required=""/>
				<input type="password" Name="password" placeholder="密码" required=""/>
				<div class="send-button w3layouts agileits">
					<input type="submit" value="登 录"/>
				</div>
			</form>
			<!--<ul class="tick w3layouts agileits">-->
				<!--<li>-->
					<!--<input type="checkbox" id="brand1" value=""/>-->
					<!--<label for="brand1"><span></span>记住我</label>-->
				<!--</li>-->
			<!--</ul>-->
			<!--<a href="#">记住密码?</a>-->
			<div class="social-icons w3layouts agileits">
				<p>- 其他方式登录 -</p>
				<ul>
					<li class="qq">
						<a href="#" onclick="layer.msg('暂不支持');">
							<span class="icons w3layouts agileits"></span>
							<span class="text w3layouts agileits">QQ</span>
						</a>
					</li>
					<li class="weixin w3ls">
						<a href="#" onclick="layer.msg('暂不支持');">
							<span class="icons w3layouts"></span>
							<span class="text w3layouts agileits">微信</span>
						</a>
					</li>
					<li class="weibo aits">
						<a href="#" onclick="layer.msg('暂不支持');">
							<span class="icons agileits"></span>
							<span class="text w3layouts agileits">微博</span>
						</a>
					</li>
					<div class="clear"> </div>
				</ul>
			</div>
			<div class="clear"></div>
		</div><div class="copyrights"></div>
		<div class="register w3layouts agileits">
			<h2>注 册</h2>
			<form action="#" method="post" id="registerForm" onsubmit="return checkRegisterForm();">
				<input type="text" name="name" placeholder="用户名" required="true"/>
				<input type="text" name="email" placeholder="邮箱" required="true"/>
				<input type="password" name="password" placeholder="密码" required="true"/>
				<input type="text" name="phone" placeholder="手机号码" required="true"/>
				<div class="send-button w3layouts agileits">
					<input type="submit" value="免费注册"/>
				</div>
			</form>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="footer w3layouts agileits">
		<p>Copyright &copy; 2018 </p>
	</div>
</body>
<!-- //Body -->
</html>
<script type="text/javascript">
	function checkRegisterForm() {
	    //注册
        ajaxRegister();

	    return false;
    }
    
    function checkLoginForm() {
		//登录
        ajaxLogin();

		return false;
    }
	
	function ajaxRegister() {
        $.ajax({
            type: "POST",
            url: "user/register",
            contentType: "application/json",
            data: JSON.stringify($('#registerForm').serializeJSON()),
            success: function (data) {
                layer.msg(data.msg);
            }
        });
    }

    function ajaxLogin() {

        // var token = getCookie("token");

        $.ajax({
            type: "POST",
            url: "user/login",
            contentType: "application/json",
            data: JSON.stringify($('#loginForm').serializeJSON()),
            // beforeSend: function(request) {
            //     request.setRequestHeader("token", token);
            // },
            success: function (data) {
                if(data.success){
                    var tokenName = data.attributes.tokenName;
                    var tokenValue = data.attributes.tokenValue;
                    var expireTime = data.attributes.expireTime;
                    setCookie(tokenName, tokenValue, expireTime);
                    window.location.href = "/home";
				}

                layer.msg(data.msg);
            }
        });
    }

    function setCookie(name, value, expireTime) {
        var exp = new Date();
        exp.setTime(exp.getTime() + expireTime); //3天过期
        document.cookie = name + "=" + encodeURIComponent(value)
            + ";expires=" + exp.toGMTString() + ";path=/";
        return true;
    }

    function getCookie(name) {
        var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
        if(arr=document.cookie.match(reg))
            return unescape(arr[2]);
        else
            return null;
    }
</script>